body {
    background:white;
    color: #ababab;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

p {
    text-transform: lowercase;
}

h2 {
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    font-size: .8em;
    color: #ababab;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
}